.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  overflow-y: auto;
  width: 90%;
  max-width: 900px;
  max-height: 100%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.header,
form {
  padding: 15px 20px;
}

h3 {
  font-size: 1.5rem;
}
.header {
  border-bottom: 1px solid #eee;
}
.form-buttons {
  border-top: 1px solid #eee;
}

form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.form-group-container {
  width: 60%;
}
.form-img {
  width: 40%;
  position: relative;
  order: -1;
}
.form-img img {
  max-width: 90%;
  height: auto;
  max-height: 94%;
  position: absolute;
  top: 30px;
  left: 0;
}

.form-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.form-buttons > * {
  margin-left: 5px;
}
.error {
  color: red;
}
.toggle-image {
  margin-left: auto;
  position: absolute;
  right: 20px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  display: none;
}
@media only screen and (max-width: 900px) {
  .content {
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .content {
    height: auto;
    max-height: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .form-img {
    display: none;
  }
  .form-group-container {
    width: 100%;
  }
  .toggle-image {
    display: inline-block;
  }

  .show {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    display: block;
  }
  .show img {
    width: 69%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
