h2 {
  text-align: center;
  font-size: 2.2rem;
  letter-spacing: 2px;
  margin-bottom: 3rem;
}
section {
  padding: 3rem 0;
}
.btn-add {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  background: #f4c150;
  font-size: 3rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 1px solid #eee;
  line-height: 50px;
  z-index: 3;
}

.btn-add:focus {
  outline: 0;
}
