.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.col {
  width: 25%;
  padding: 0.5rem;
}

@media only screen and (max-width: 1000px) {
  .col {
    width: 33%;
  }
}

@media only screen and (max-width: 700px) {
  .col {
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .col {
    width: 100%;
  }
}
